.block {
    text-align: center;
}

.img {
    width: 50px;
}

.title {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 0px;
}

.description {
    font-size: 20px;
    line-height: 36px;
    margin-top: 0px;
}